@charset "UTF-8";
/* ドロワーナビゲーションの必須スタイル */
#nav {
    position: fixed;
    right: -330px;
    top: 0;
    width: 270px;
    height: 100%;
}

/* ドロワーが開かれたときのスタイル */
.drawer-show {
    transform: translate3d(-300px, 0, 0);
}

/* 開く・閉じるアニメーション */
#wrapper, #nav {
    transition: transform 0.3s;
}

/* ===== ヘッダーにボタンを配置 ===== */
.hamburger {
    display: none;
}
@media screen and (max-width:959px){
    /* タブレット用CSS -------------- */
    .hamburger {
        display: block;
        flex: 0 0 32px;
        align-self: center;
        margin-left: 16px;
        text-align: center;
        color: #fff;
        float: right;
    }
}
/* ===== 装飾的なCSS ===== */


/* メニュー */
#nav {
    padding: 24px 24px 0 24px;
    background: #000;
    color: white;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav li a {
    display: block;
    padding: 0.75rem 0;
    border-bottom: 1px solid #114d60;
    text-decoration: none;
    color: #fff;
}
#nav li a:hover {
    background: #0e3e4d;
}

.main_nav ul{
    list-style: none;
}
.main_nav li{
    float: left;
    width: 100px;
    text-align: center;
}
@media screen and (max-width:959px){
    /* タブレット用CSS -------------- */
    .main_nav{
    display: none;
    }
}
main{
    margin: 30px;
}
.content{
    margin: 30px;
}